<% include ./partials/header.ejs %>
<div class="w-full h-auto flex items-center bg-gray-900  flex-col">
 
  <div class="flex flex-col items-center justify-center mt-4">
    <div class="relative">
      <span id="upload" class="cursor-pointer bg-white w-8 h-8 absolute bottom-0 right-0 rounded-full flex items-center justify-center">
        <i class="text-gray-400 ri-pencil-fill"></i>
      </span>
      <img
        src="/images/uploads/<%= user.profileImage %>"
        alt="Profile Picture"
        class="w-32 h-32 rounded-full"
      />
    </div>
    <div class="ml-4 flex justify-center items-center flex-col gap-1">
      <h1 class="text-2xl font-bold text-white"><%= user.username %></h1>
      <p class="text-gray-500">Description or bio</p>
      <a
        href="/edit"
        class="bg-gray-400 text-white text-xs px-7 py-2 rounded-full font-semibold hover:bg-gray-600"
        >Edit</a
      >
      <a href="/add" class="text-white py-2 px-10 rounded-lg bg-red-700 mt-4">Add New Post</a>
      <!-- Post creation form (hidden by default) -->
      <div id="postForm" class=" mt-4">
        <form hidden action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="image">
        </form>
      </div>
    </div>
  </div>
  <!-- cards -->
  <div class="w-full  flex justify-start p-4">
    <div class="cards justify-center items-center flex flex-wrap gap-10 mt-10">
      <div class="card">
        <div class="w-52 h-40 bg-gray-400 rounded-lg overflow-hidden">
          <img class="object-cover w-full h-full" src="/images/uploads/<%= user.posts[0].image %>" alt="">
        </div>
        <h3 class="text-xl font-semibold mt-3 text-white">All pins</h3>
        <h5 class="text-sm font-medium text-gray-400"><%= user.posts.length %></h5>
      </div>
        </div>

  </div>
</div>
<script>
  document.querySelector("#upload").addEventListener("click",()=>{
    document.querySelector("form input").click()

  })
  document.querySelector('form input').addEventListener('change',()=>{
    document.querySelector("form").submit()
  })
</script>
<% include ./partials/footer.ejs %>
